*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{

 position: relative;

}
.row{
	width: 100%;
}
.menu-title{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 15px;

	font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 30px;
 	 
}

.item-title{

}
 
.item{
	position: relative;
	background-color:#999999;
	padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: auto;
  overflow: hidden;

}


#title-one{
	text-align: center;
	
}
#title-two{
	text-align: center;

}
#title-three{
	text-align: center;

}



#header-nav {
  background-color: #999999;
 	border-bottom: 3px solid black;
 	border-top: 3px solid black;
 	padding: 20px;
 

}


.navbar-brand h1 { /*  name */
  
	  color: black;
	  font-size: 1.5em;
	  font-weight: bold;
	  text-shadow: 1px 1px 1px #222;
  	font-family: 'Lora', serif;   
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 20px;
}


@media (min-width:992px) 
		{
			.ds-ld-1,.ds-ld-2,.ds-ld-3,.ds-ld-4,.ds-ld-5,.ds-ld-6,.ds-ld-7,.ds-ld-8,.ds-ld-9,.ds-ld-10,.ds-ld-11,.ds-ld-12{
				float: left;
				
			}
			.ds-ld-1{
				width: 8.33%;
			}
			.ds-ld-2{
				width: 16.66%;
			}
			.ds-ld-3{
				width: 25%;
			}
			.ds-ld-4{
				width: 33.33%;
			}
			.ds-ld-5{
				width: 41.66%;
			}
			.ds-ld-6{
				width: 50%;
			}
			.ds-ld-7{
				width: 58.33%;
			}
			.ds-ld-8{
				width: 66.66%;
			}
			.ds-ld-9{
				width: 75%;
			}
			.ds-ld-10{
				width: 83.33%;
			}
			.ds-ld-11{
				width: 91.66%;
			}
			.ds-ld-12{
				width: 100%;
			}

			
		}
			@media (min-width:768px) and (max-width:991px){
			 
		
			.ds-ld-4{
				width: 50%;
				float: left;
			}
			.ds-ld-tablet{
				width: 100%;
				float: left;
			}

				
			
		}
			@media (max-width: 767px){
  		
  		.ds-ld-4{
    	width: 100%;
   		 float: left;
 		 }



}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle ,.icon-bar{
	border: 2px solid black;
}
.navbar-header button.navbar-toggle{
	margin-top: -30px;
	clear: both;
}


#nav-list{
	margin-top: 10px;
	text-align: center;
}
#nav-list a{
	color:black ;
	text-align: center;

}

#nav-list a:hover{
	background: #E7E7E7;
  
}



